.menu-bar {
  background-color: #181818;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 14px;
  user-select: none;
  padding: 0px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  display: flex;
  align-items: center;
  z-index: 10;
}

.menu-logo {
  padding: 0 10px;
  display: flex;
  align-items: center;
  height: 100%;
}

.menu-logo img {
  height: 18px;
  width: auto;
}

.menu-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-item {
  position: relative;
  padding: 0 15px;
  line-height: 30px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #181818;
}

.submenu {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #181818;
  border-top: 5px solid #181818;
  border-bottom: 5px solid #181818;
  flex-direction: column;
  min-width: 145px;
  z-index: 100;
  visibility: hidden;
}

.menu-item:hover > .submenu {
  visibility: visible;
}

.submenu li {
  padding: 0px 10px;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.toggle-item {
  justify-content: start;
  gap: 4px;
}

.submenu li:hover {
  background-color: #2b2b2b;
  color: white;
}

.submenu .divider {
  height: 1px;
  margin: 4px 0;
  background-color: #3e3e3e;
  pointer-events: none;
}

.submenu-item {
  position: relative;
  justify-content: space-between;
}

.submenu.right {
  position: absolute;
  top: -5px;
  left: 100%;
  background-color: #181818;
  color: #ffffff;
  border-top: 5px solid #181818;
  border-bottom: 5px solid #181818;
  min-width: 145px;
  visibility: hidden;
  z-index: 101;
}

.submenu-item:hover > .submenu.right {
  visibility: visible;
  background-color: #2b2b2b;
}

.arrow {
  float: right;
  margin-left: 10px;
  font-size: 22px;
  color: #aaaaaa;
}

.shortcut {
  font-family: monospace;
  background-color: transparent;
  padding: 0px 4px;
  border-radius: 5px;
  border: solid 1px #555;
  margin-left: auto;
  font-size: 10.5px;
  color: #aaaaaa;
  line-height: 1.5;
}

.tick {
  width: auto;
  font-weight: bold;
  min-width: 1em;
  text-align: center
}

.tick::before {
  content: ' ';
}

.checked .tick::before {
  content: '\2713';
}