.outliner-list {
  max-height: 250px;
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #2b2b2b;
  color: #cccccc;
}

.outliner-list::-webkit-scrollbar {
  width: 8px;
  background: #2b2b2b;
}

.outliner-list::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 4px;
}

.outliner-item {
  display: flex;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 2px 0;
  height: 22px;
  color: #b0b0b0;
}

.outliner-item:nth-child(even) {
  background-color: #2b2b2b;
}

.outliner-item:nth-child(odd) {
  background-color: #333333;
}

.outliner-item:hover {
  background-color: #3e3e3e;
}

.outliner-item.selected {
  background-color: #4772b3;
  color: white;
}

.outliner-item.selected .type-icon {
  color: #fff;
}

.outliner-item .indent {
  display: inline-block;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.outliner-item .arrow {
  width: 14px;
  text-align: center;
  font-size: 10px;
  color: #888;
  cursor: pointer;
  margin-right: 2px;
}

.outliner-item .arrow:hover {
  color: #fff;
}

.outliner-item .type-icon {
  width: 24px;
  text-align: center;
  color: #e6e6e6;
  font-size: 14px;
  margin-right: 4px;
}

.outliner-item .name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

.outliner-item .visibility {
  width: 24px;
  text-align: center;
  cursor: pointer;
  color: #999;
  font-size: 14px;
}

.outliner-item .visibility:hover {
  color: #fff;
}

.outliner-item.dragInto {
  border: 1px dashed #aaa;
}

.outliner-item.dragTop {
  border-top: 1px dashed #aaa;
}

.outliner-item.dragBottom {
  border-bottom: 1px dashed #aaa;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.editor-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.right-panel-resizer {
  position: absolute;
  top: 30px;
  right: 325px;
  width: 5px;
  height: calc(100vh - 30px);
  background-color: #08f;
  cursor: col-resize;
  z-index: 10;
  opacity: 0;
}

body:not(.resizing-outliner) .right-panel-resizer:hover {
  opacity: 0.7;
}

body.resizing-right-panel .right-panel-resizer {
  opacity: 1;
}

.outliner-resizer {
  position: relative;
  right: 0px;
  width: 100%;
  height: 5px;
  background-color: #08f;
  cursor: row-resize;
  z-index: 10;
  opacity: 0;
}

.space {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0px 0px;
  vertical-align: top;
  text-align: center;
}

body:not(.resizing-right-panel) .outliner-resizer:hover {
  opacity: 0.7;
}

body.resizing-outliner .outliner-resizer {
  opacity: 1;
}

#right-panel-container {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 325px;
  height: calc(100vh - 30px);
  background-color: #2b2b2b;
  color: #cccccc;
  font-family: sans-serif;
  font-size: 12.5px;
  overflow-y: auto;
  z-index: 9;
}

.right-panel {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 9;
}

.panel-tabs {
  font-size: 0;
  background-color: #1d1d1d;
  border-top: 1px solid #3e3e3e;
}

.tab {
  flex: 1;
  padding: 9.5px;
  border: none;
  border-right: 1px solid #3e3e3e;
  color: #888;
  font-size: 14px;
  background: none;
  cursor: pointer;
}

.tab:hover {
  background-color: #252525;
  color: #ccc;
}

.tab.active {
  background-color: #2b2b2b;
  color: #fff;
}

#scene-tab {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

#details-panel-container {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.panel-content {
  flex: 1;
  display: none; /* Hidden by default, toggled by JS */
  height: 100%;
}

.panel-divider {
  height: 1px;
  margin: 0px;
  width: 100%;
  background-color: #3e3e3e;
}

.project-settings-list {
  list-style: none;
  padding: 8px 10px;
  margin: 0px 0px;
  font-size: 14px;
}

.setting-option {
  display: flex;
  align-items: center;
  padding: 6px 0px ;
}

.setting-option .label {
  min-width: 125px;
  max-width: 125px;
}

select {
  padding: 1px 30px 1px 1px;
  font-size: 14px;
  border-radius: 3px;
  color: #fff;
  background-color: #3e3e3e;
  margin-left: 5px;
  border: 1px solid #1d1d1d;
}

select:hover {
  background-color: #4a4a4a;
  cursor: pointer;
}

select:focus {
  outline: none;
  border-color: #4772b3;
}

#title {
  max-width: 150px;
  border: 1px solid #1d1d1d;
  border-radius: 3px;
  padding: 3px 3.5px;
  color: #fff;
  background-color: #1d1d1d;
}

#title:focus {
  outline: none;
  border-color: #4772b3;
}

.action-button {
  display: block;
  font-size: 13px;
  color: #eee;
  background-color: #444;
  width: 170px;
  border: 1px solid #1d1d1d;
  cursor: pointer;
  padding: 3.5px 0px;
  border-radius: 3px;
}

.action-button:hover {
  background-color: #555;
}

.setting-option .number {
  width: 4ch;
  padding: 2px;
  margin: 0px 5px;
  font-size: 12.5px;
  color: #eee;
  background-color: #1d1d1d;
  text-align: left;
  border: 1px solid #3e3e3e;
  border-radius: 3px;
}

.setting-option .number:focus {
  background-color: #252525;
  outline: none;
  border-color: #4772b3;
}

.setting-option .number::-webkit-outer-spin-button,
.setting-option .number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.setting-option .key-input {
  width: calc(1ch + 6px);
  padding: 4px 5px;
  font-size: 12.5px;
  color: #fff;
  background-color: #1d1d1d;
  text-align: center;
  border: 1px solid #3e3e3e;
  border-radius: 3px;
}

.setting-option .key-input:focus {
  background-color: #252525;
  outline: none;
  border-color: #4772b3;
}