<div class="add-menu">
  <ul class="submenu">
    <li class="submenu-item" data-group="Group">
      Group
    </li>
    <li class="submenu-item">
      Mesh <span class="arrow">&#9656;</span>
      <ul class="submenu right">
        <li class="submenu-item" data-geometry="Plane">Plane</li>
        <li class="submenu-item" data-geometry="Cube">Cube</li>
        <li class="submenu-item" data-geometry="Circle">Circle</li>
        <li class="submenu-item" data-geometry="Sphere">Sphere</li>
        <li class="submenu-item" data-geometry="Cylinder">Cylinder</li>
        <li class="submenu-item" data-geometry="Cone">Cone</li>
        <li class="submenu-item" data-geometry="Torus">Torus</li>
      </ul>
    </li>
    <li class="submenu-item">
      Image <span class="arrow">&#9656;</span>
      <ul class="submenu right">
        <li class="submenu-item" data-image="Reference">Reference</li>
      </ul>
    </li>
    <li class="submenu-item">
      Light <span class="arrow">&#9656;</span>
      <ul class="submenu right">
        <li class="submenu-item" data-light="Ambient">Ambient</li>
        <li class="submenu-item" data-light="Directional">Directional</li>
        <li class="submenu-item" data-light="Hemisphere">Hemisphere</li>
        <li class="submenu-item" data-light="Point">Point</li>
        <li class="submenu-item" data-light="Spot">Spot</li>
      </ul>
    </li>
    <li class="submenu-item">
      Camera <span class="arrow">&#9656;</span>
      <ul class="submenu right">
        <li class="submenu-item" data-camera="Orthographic">Orthographic</li>
        <li class="submenu-item" data-camera="Perspective">Perspective</li>
      </ul>
    </li>
  </ul>
</div>