<div class="menu-bar">
  <div class="menu-logo">
    <img src="assets/icons/logo.svg" alt="Weblend Logo">
  </div>
  <ul>
    <li class="menu-item">File
      <ul class="submenu">
        <li class="submenu-item">
          New <span class="arrow">&#9656;</span>
          <ul class="submenu right">
            <li data-new="empty">Empty</li>
            <li class="divider"></li>
            <li data-new="cube">Cube</li>
            <li data-new="torus">Torus</li>
            <li data-new="camera">Camera</li>
          </ul>
        </li>
        <li class="open">Open</li>
        <li class="save">Save</li>
        <li class="divider"></li>
        <li class="import">Import</li>
        <li class="submenu-item">
          Export <span class="arrow">&#9656;</span>
          <ul class="submenu right">
            <li data-export="glb">GLB</li>
            <li data-export="gltf">GLTF</li>
            <li data-export="obj">OBJ (NGONS)</li>
            <li data-export="stl">STL</li>
            <li data-export="stl-binary">STL (BINARY)</li>
            <li data-export="usdz">USDZ</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="menu-item">Edit
      <ul class="submenu">
        <li class="undo">Undo
          <span class="shortcut">CTRL+Z</span>
        </li>
        <li class="redo">Redo
          <span class="shortcut">CTRL+SHIFT+Z</span>
        </li>
        <li class="divider"></li>
        <li class="center">Center</li>
        <li class="clone">Clone
          <span class="shortcut">SHIFT+D</span>
        </li>
        <li class="delete">Delete
          <span class="shortcut">DEL</span>
        </li>
        <li class="divider"></li>
        <li class="preferences">Preferences...</li>
      </ul>
    </li>
    <li class="menu-item" id="menu-add">Add
      <ul class="submenu">
        <li class="submenu-item">
          Mesh <span class="arrow">&#9656;</span>
          <ul class="submenu right">
            <li data-geometry="Cube">Cube</li>
            <li data-geometry="Plane">Plane</li>
            <li data-geometry="UVSphere">UV Sphere</li>
            <li data-geometry="IcoSphere">Ico Sphere</li>
            <li data-geometry="Cylinder">Cylinder</li>
            <li data-geometry="Torus">Torus</li>
            <li data-geometry="Monkey">Monkey</li>
          </ul>
        </li>
        <li class="submenu-item">
          Light <span class="arrow">&#9656;</span>
          <ul class="submenu right">
            <li data-light="PointLight">Point Light</li>
            <li data-light="DirectionalLight">Directional Light</li>
            <li data-light="SpotLight">Spot Light</li>
            <li data-light="HemisphereLight">Hemisphere Light</li>
          </ul>
        </li>
        <li class="submenu-item">
          Camera <span class="arrow">&#9656;</span>
          <ul class="submenu right">
            <li data-camera="Perspective">Perspective</li>
            <li data-camera="Orthographic">Orthographic</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="menu-item" id="menu-mesh">Mesh
      <ul class="submenu">
        <li class="submenu-item">
          Merge <span class="arrow">&#9656;</span>
          <ul class="submenu right">
            <li class="mesh-merge-center">At Center</li>
            <li class="mesh-merge-cursor">At Cursor</li>
            <li class="mesh-merge-collapse">Collapse</li>
            <li class="mesh-merge-first">At First</li>
            <li class="mesh-merge-last">At Last</li>
          </ul>
        </li>
        <li class="submenu-item">
          Cleanup <span class="arrow">&#9656;</span>
          <ul class="submenu right">
            <li id="menu-mesh-cleanup-merge">Merge by Distance</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="menu-item">Render
      <ul class="submenu">
        <li class="render-image">📷 Render Image
          <span class="shortcut">SHIFT+F12</span>
        </li>
      </ul>
    </li>
    <li class="menu-item">Help
      <ul class="submenu">
        <li class="sourcecode">Source Code</li>
        <li class="about">About</li>
        <li class="report">Report a Bug</li>
        <li class="patreon">Support</li>
      </ul>
    </li>
  </ul>
</div>