<div class="navigation-bar" id="navigation-bar">
  <button class="nav-button" id="nav-zoom" title="Zoom">
    <img src="assets/icons/view_zoom.svg" alt="Zoom" />
  </button>
  <button class="nav-button" id="nav-pan" title="Pan">
    <img src="assets/icons/view_pan.svg" alt="Pan" />
  </button>
  <button class="nav-button" id="nav-camera" title="Toggle Camera View">
    📷
  </button>
  <button class="nav-button" id="nav-ortho" title="Perspective/Orthographic">
    <img src="assets/icons/view_ortho.svg" alt="Orthographic" />
  </button>
</div>