<div class="add-menu shading-menu">
  <ul class="submenu">
    <li class="submenu-item" data-shading="wireframe">
      <div style="display: flex; align-items: center; gap: 10px;">
        <img src="assets/icons/shading_wire.svg" style="width: 16px; height: 16px;">
        Wireframe
      </div>
    </li>
    <li class="submenu-item" data-shading="solid">
      <div style="display: flex; align-items: center; gap: 10px;">
        <img src="assets/icons/shading_solid.svg" style="width: 16px; height: 16px;">
        Solid
      </div>
    </li>
    <li class="submenu-item" data-shading="material">
      <div style="display: flex; align-items: center; gap: 10px;">
        <img src="assets/icons/shading_texture.svg" style="width: 16px; height: 16px;">
        Material
      </div>
    </li>
  </ul>
</div>