<div id="splash-screen-backdrop" class="splash-screen-backdrop">
  <div class="splash-screen-modal">
    <div class="splash-top">
      <div class="splash-image-container">
        <img src="assets/images/KokrafPreview.png" alt="Weblend Splash" class="splash-image">
        <div class="splash-version">Weblend 1.8.31</div>
      </div>
      <div class="splash-links">
        <h3>Recent Files</h3>
        <ul>
            <li><a href="#" class="disabled">No recent files</a></li>
        </ul>
      </div>
    </div>
    <div class="splash-bottom">
        <div class="splash-column">
            <h3>New File</h3>
            <ul>
                <li><a href="#" id="splash-new-general"><span class="icon">📄</span> General</a></li>
                <li><a href="#" id="splash-new-2d"><span class="icon">✏️</span> 2D Animation</a></li>
                <li><a href="#" id="splash-new-sculpt"><span class="icon">🗿</span> Sculpting</a></li>
            </ul>
        </div>
        <div class="splash-column">
            <h3>Getting Started</h3>
            <ul>
                <li><a href="https://docs.blender.org/manual/en/latest/" target="_blank"><span class="icon">📖</span> Manual</a></li>
                <li><a href="https://weblend.com" target="_blank"><span class="icon">🌐</span> Website</a></li>
            </ul>
        </div>
    </div>
    <div class="splash-footer">
        <label><input type="checkbox" id="splash-show-on-startup" checked> Show this when Weblend starts</label>
    </div>
  </div>
</div>
