<div class="toolbar">
  <button class="toolbar-button active" data-tool="select" data-tooltip="Select">
    <img src="assets/icons/select.svg" alt="Select" />
  </button>
  <button class="toolbar-button" data-tool="move" data-tooltip="Move">
    <img src="assets/icons/translate.svg" alt="Move" />
  </button>
  <button class="toolbar-button" data-tool="rotate" data-tooltip="Rotate">
    <img src="assets/icons/rotate.svg" alt="Rotate" />
  </button>
  <button class="toolbar-button" data-tool="scale" data-tooltip="Scale">
    <img src="assets/icons/scale.svg" alt="Scale" />
  </button>

  <div class="toolbar-spacer"></div>

  <div class="mesh-tools hidden">
    <button class="toolbar-button" data-tool="extrude" data-tooltip="Extrude">
      <img src="assets/icons/extrude.svg" alt="Extrude" />
    </button>
    <button class="toolbar-button" data-tool="loopcut" data-tooltip="Loop Cut">
      <img src="assets/icons/loopcut.svg" alt="Loop Cut" />
    </button>
    <button class="toolbar-button" data-tool="knife" data-tooltip="Knife">
      <img src="assets/icons/knife.svg" alt="Knife" />
    </button>
  </div>
</div>